/* Theme */

main {
	background: #EDEDED;
	color: #AF3D4E;
}

.icons-social a {
	color: #AF3D4E;
}

.icons-social a svg path{
	fill: #AF3D4E;
}

a {
  color: #AF3D4E;
}
a:visited {
  color: #5c0d12;
}
a:hover, a:active, a:focus {
  color:#ff2949;
}
